<h1>Tasks</h1>

<mat-progress-spinner
  *ngIf="loading | async else tasksArea" mode="indeterminate"
></mat-progress-spinner>

<ng-template #tasksArea>
  <mat-card fxLayoutAlign="space-between center" *ngFor="let task of tasks | async; let i = index">
    <span class="task"><strong>Task: </strong>{{ task.text }}</span>
    <mat-form-field appearance="outline">
      <mat-label>User</mat-label>
      <mat-select name="user" ngModel>
        <mat-option
          *ngFor="let user of users | async"
          value=""
        >
          {{user.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Status</mat-label>
      <mat-select name="status" ngModel>
        <mat-option value="">{{task.status}}</mat-option>
        <mat-option *ngFor="let status of statuses" value="{{status}}">{{status}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-icon (click)="onDelete(task._id)">delete</mat-icon>
  </mat-card>
</ng-template>

